<li class='movie__item'>
  <a href='#' class='movie__link' data-modal='open' data-id={{id}}>
    {{#if poster_path}}
      <img src={{poster_path}} alt={{title}} class='movie__image' />
    {{else}}
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png'
        alt={{title}}
        class='movie__image'
      />
    {{/if}}

    <div class='movie__description'>
      <p class='movie__title'>{{title}}</p>
      <p class='movie__info'>
        {{#if genres}}
          {{genres}}
        {{/if}}

        {{#if genres}}
          {{#if release_date}}
            <span class='movie__breacker'> | </span>
          {{/if}}
        {{/if}}

        {{#if release_date}}
          <span class='movie__year'> {{release_date}}</span>
        {{/if}}

        {{#if vote_average}}
          <span class='movie__raiting'>{{vote_average}}</span>
        {{/if}}

      </p>
    </div>
  </a>
</li>