<li class='film__item'>
  <a href='#' class='film__link' data-modal='open'>
    <img src='{{poster_path}}' alt='{{title}}' class='film__item' />
    <p class='film__title'>{{title}}</p>
    <p class='film__info'>
      {{genre_ids}}
      <span class='film__year'>|{{release_date}}</span>
    </p>
  </a>
</li>;