    
    <div class="movie-card">
        <div class="movie-card__poster">
            <img class="movie-card__poster-img" src="//image.tmdb.org/t/p/w400{{poster_path}}" alt="{{title}}">
        </div>
        <div class="movie-card__info">
            <h2 class="movie-card__title">{{title}} </h2>

            <div class="movie-card__rait">
                <div class="movie-card__categories">
                    <p class="movie-card__votes">Vote / Votes</p>
                    <p class="movie-card__popularity">Popularity</p>
                    <p class="movie-card__origin-title">Original Title</p>
                    <p class="movie-card__genres">Genre</p>
                </div>
           
                <div class="movie-card__raits">
                    <p class="movie-card__votes-rait"><span>{{vote_average}}</span><span>/</span><span>{{vote_count
                        }}</span></p>
                    <p class="movie-card__popularity">{{popularity}}</p>
                    <p class="movie-card__origin-title-rait">{{original_title}}</p>
                    <p class="movie-card__genres">{{#if genres}}
                    {{genres}}
                    {{/if}}</p>
                </div>
            </div>

            <article class="movie-card__descript">
                <h3 class="movie-card__descript-title">About</h3>
                <p class="movie-card__text">{{overview}}</p>
            </article>
            <div class="movie-card__controls">
                <button data-status='add' data-id={{id}} id="btn-add-to-watched" class="movie-card__btn movie-card__btn--watched">add to Watched</button>
                <button data-status='add' data-id={{id}} id="btn-add-to-queue" class="movie-card__btn movie-card__btn--queue">add to Queue</button>
            </div>
        </div>
    </div>

