    
    <div class="movie-card">
        <div class="movie-card__poster">
            <img class="movie-card__poster-img" src="//image.tmdb.org/t/p/w400{{poster_path}}" alt="{{title}}">
        </div>
        <div class="movie-card__info">
            <h2 class="movie-card__title">{{title}} </h2>

                <ul class="movie-card__categories">
                    <li class="movie-card__categories-item">
                        <p>Vote / Votes</p>
                        <p class="movie-card__votes">
                            <span>{{vote_average}}</span>
                            <span>/</span>
                            <span>{{vote_count}}</span>
                        </p>
                    </li>
                    <li class="movie-card__categories-item">
                        <p>Popularity</p>
                        <p>{{popularity}}</p>
                    </li>
                    <li class="movie-card__categories-item">
                        <p>Original Title</p>
                        <p class="movie-card__origin-title">{{original_title}}</p>
                    </li>
                    <li class="movie-card__categories-item">
                        <p>Genre</p>
                        <p>{{#if genres}}
                        {{genres}}
                        {{/if}}</p>
                    </li>
                </ul>

            <article class="movie-card__descript">
                <h3 class="movie-card__descript-title">About</h3>
                <p class="movie-card__text">{{overview}}</p>
            </article>
            <div class="movie-card__controls">
                <button data-status='add' data-id={{id}} id="btn-add-to-watched" class="movie-card__btn movie-card__btn--add ">add to Watched</button>
                <button data-status='add' data-id={{id}} id="btn-add-to-queue" class="movie-card__btn movie-card__btn--add">add to Queue</button>
            </div>
        </div>
    </div>

